body {
    background-color: #062D76;
    background-image: url('images/nazareno.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: 80px 80px;
}

/* Marca de agua */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #062D76;
    opacity: 0.65;
    z-index: -1;
}


.main-content {
    background-color: #f5f5f5;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/* Icono usuario */
.user-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}

/* Efecto hover en las cards */
.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
}

.icon-white {
    filter: invert(100%);
}

.bg-dark-blue {
    background-color: #062D76 !important;
}

.bg-blue {
    background-color: #6D66F1 !important;
}

.bg-purple {
    background-color: #bc94f4 !important;
}

.bg-yellow {
    background-color: #faca56 !important;
}


.navbar-brand {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 3rem !important;
    letter-spacing: 1px;
    color: #062D76 !important;
}


.navbar {
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.user-icon {
    color: #062D76;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

