{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Contenedor principal centrado -->
   <div class="container d-flex flex-column justify-content-start align-items-center vh-100 pt-5">
        <!-- Primera fila -->
        <div class="row g-4 justify-content-center w-100">
            <!-- Rankings -->
            <div class="col-10 col-md-4">
                <div class="card text-center text-white bg-dark-blue card-hover" role="button"
                     onclick="location.href='{% url 'go_home' %}'">
                    <div class="card-body py-5">
                        <img src="{% static 'images/rankings.png' %}" alt="Rankings" width="64" height="64"
                             class="icon-white mb-3">
                        <h3 class="card-title">Rankings</h3>
                    </div>
                </div>
            </div>
            <!-- Reviews -->
            <div class="col-10 col-md-4">
                <div class="card text-center text-white bg-purple card-hover" role="button"
                     onclick="location.href='{% url 'go_home' %}'">
                    <div class="card-body py-5">
                        <img src="{% static 'images/reviews.png' %}" alt="Reviews" width="64" height="64"
                             class="icon-white mb-3">
                        <h3 class="card-title">Reviews</h3>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Segunda fila -->
        <div class="row g-4 justify-content-center w-100">
            <!-- Admin -->
            <div class="col-10 col-md-4">
                <a href="{% url 'go_admin_panel' %}" class="text-decoration-none text-white">
                    <div class="card text-center text-white bg-yellow card-hover " role="button">
                        <div class="card-body py-5">
                            <img src="{% static 'images/admin.png' %}" alt="Admin" width="64" height="64"
                                 class="icon-white mb-3">
                            <h3 class="card-title">Admin</h3>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Stats -->
            <div class="col-10 col-md-4">
                <div class="card text-center text-white bg-blue card-hover" role="button"
                     onclick="location.href='{% url 'go_home' %}'">
                    <div class="card-body py-5">
                        <img src="{% static 'images/stats.png' %}" alt="Stats" width="64" height="64"
                             class="icon-white mb-3">
                        <h3 class="card-title">Stats</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
