{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Contenedor principal centrado -->
    <div class="container d-flex flex-column justify-content-start align-items-center vh-100 pt-5">

        <!-- Primera fila -->
        <div class="row g-4 justify-content-center w-100">


            {% for i in categories %}

                <div class="col-3 col-md-3">
                    <a href="{% url 'go_rankings' i.code  %}" class="text-decoration-none text-white">
                        <div class="card text-center text-white bg-dark-blue card-hover ">
                            <div class="card-body py-5">
                                <img src="{{ i.logo }}" alt="{{ i.code }}" width="64" height="64"
                                     class="icon-white mb-3">
                                <h3 class="card-title">{{ i.name }}</h3>
                            </div>
                        </div>
                    </a>
                </div>



            {% endfor %}


        </div>
    </div>

{% endblock %}
